<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.1.dtd">
<suite name="sample" share-thread-pool-for-data-providers="true" data-provider-thread-count="2">

<!--    <listeners>-->
<!--        <listener class-name="Utilities.TestListeners.retest.AnnotationTransformer"/>-->
<!--    </listeners>-->
    <!-- to re-test failed TC -->

    <test name="local android test">
        <parameter name="deployment" value="Local"/>
        <parameter name="port" value="4723"/>
        <parameter name="platformName" value="android"/>
        <parameter name="udid" value=""/>
        <parameter name="language" value="en"/>
        <parameter name="environment" value="uat"/>
        <parameter name="url" value="http://0.0.0.0:"/>
        <parameter name="automationName" value="uiautomator2"/>
        <parameter name="locale" value="us"/>
        <classes>
            <class name="TestRunners.AndroidRunnerOneTest"/>
        </classes>
    </test>

<!--    <test name="local ios test">-->
<!--        <parameter name="deployment" value="Local"/>-->
<!--        <parameter name="port" value="4723"/>-->
<!--        <parameter name="platformName" value=""/>-->
<!--        <parameter name="udid" value=""/>-->
<!--        <parameter name="language" value="en"/>-->
<!--        <parameter name="environment" value="uat"/>-->
<!--        <parameter name="url" value="http://0.0.0.0:"/>-->
<!--        <parameter name="app" value=""/>-->
<!--        <parameter name="automationName" value=""/>-->
<!--        <parameter name="locale" value="us"/>-->
<!--        <classes>-->
<!--            <class name="TestRunners.AndroidRunnerOneTest"/>-->
<!--        </classes>-->
<!--    </test>-->

</suite>